@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4f6f8;
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
